---
layout: default
title: Blog | katiec089
---

<style>
    ul { display:table; margin:0 auto; margin-top:25px }
</style>

<ul class="posts">
    
    {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    
    <font size="1">
    <span class="post-tag">
        {% for tag in post.tags %}
        
        <a class="codinfox-tag-mark" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
        
        {% endfor %}
    </span>
    </font>
    
    {% endfor %}
</ul>



<br>
<br>
<br>
<br>

