<!DOCTYPE html>
<html>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <style>
                            body,h1 {font-family: "Raleway", Arial, sans-serif}
                            h1 {letter-spacing: 6px}
                            .w3-row-padding img {margin-bottom: 12px}
                            </style>
                        
                        <!-- Header -->
                        <header class="w3-panel w3-center w3-opacity" style="padding:28px 16px">
                            <h1>Blog</h1>
                            
                            
                            <div class="w3-bar w3-border">
                                <a href="/" class="w3-bar-item w3-button">Home</a>
                                <a href="/blog/" class="w3-bar-item w3-button">Blog</a>
                                <a href="/about/" class="w3-bar-item w3-button">About</a>
                                <a href="/cv/3.30CV.pdf" class="w3-bar-item w3-button">CV</a>
                                <a href="/resources/" class="w3-bar-item w3-button">Resources</a>
                            </div>
                        </header>
                        <center><img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Baltimore-banner1.jpg" width="90%"></center>

  <body>
      
    <div class="wrapper" style="width:600px; margin:0 auto;">

      <section>

        {{ content }}

      </section>

    </div>
    
    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-light-grey w3-center w3-large" style="margin-top: 100px;">
        personal: katiec089@gmail.com
        <br>
        <a href="https://www.facebook.com/kchang50"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/sunsetblossom/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
        <a href="https://github.com/katiec089"><i class="fa fa-github w3-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/katie-chang-b1418938"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        
    </footer>

  </body>
</html>
